.main-MP {
    float:left;
    width: 100%;    height:100%;
    margin: 0 0 0 0;
}

/*Bloco Superior*/
.choice-logout {
    float:right;
    width: 185px;   height: 56px;
    margin: 0 0 0 0;
}

.choice-logout select {
    float:left;
    width: 185px;   height: 20px;
    margin: 0 0 0 0;
    backrground: #fff;    border:solid 1px #DCDFE4;
    font-family: Arial, Verdana; font-size: 12px;
    color: #5292CF;
}

.choice-logout .perfil-online input[type=text] {
    float:left;
    width: 150px;   height: 25px;
    margin: 0 10px 10px 0;   padding: 0 0 0 5px;
    background: #FAF0E4;  border: solid 1px #EB9420;
    font-family: Arial, Verdana; font-size: 10px;
    color: #666;
}

.choice-logout .perfil-online a {
    float:left;
    width: 25px;   height: 25px;
    margin: 0 0 0 0;
	background: url(../img/logout.gif) no-repeat 0 0;
	text-indent: -9000px;
}

/*Bloco Login*/
.center-login {
    text-align: center;
    padding-top:30px;   padding-bottom:20px;
}

.center-login p{
    font-family: Arial, Verdana; font-size: 18px;
    color: #075BA1;
}

.center-login .block-login{
    width: 280px;    height:100%;
    margin: 0 auto; margin-top:20px;   margin-bottom:20px;    padding: 35px 30px 30px 30px;
    background: #F2F5FA;  border: solid 1px #BEC7D8;
}

.center-login input[type=text]{
    width: 100%;   height: 30px;
    margin: 0 0 10px 0;   padding: 0 0 0 5px;
    background: #fff;  border: solid 1px #DCDFE4;
    font-family: Arial, Verdana; font-size: 12px;
    color: #666;
}

.center-login input[type=password]{
    width: 100%;   height: 30px;
    margin: 0 0 10px 0;   padding: 0 0 0 5px;
    background: #fff;  border: solid 1px #DCDFE4;
    font-family: Arial, Verdana; font-size: 12px;
    color: #666;
}

.main-MP .center-login input[type=button]{
    width: 100%;   height: 30px;
    margin: 0 0 5px 0;
    background: #2287D7;    text-align:center;  border: none;
    font-family: Arial, Verdana; font-size: 12px;
    color: #fff;
}

.main-MP .center-login input[type=button]:hover{ background: #1b76bd; }

.main-MP .center-login a{
    margin: 0 0 0 0;
    font-family: Arial, Verdana; font-size: 12px;
    color: #2287D7;
    text-decoration:none;
}

.main-MP .center-login a:hover{ text-decoration :underline; }

.main-MP .center-login a{
    margin: 20px 0 0 0;
    font-family: Arial, Verdana; font-size: 12px;
    color: #2287D7;
    text-decoration:none;
}

.main-MP .center-login a:hover{ text-decoration :underline; }

/*Fazer Login*/
#footer a.button{
    float:right;
    width: 100px;   height: 30px;
    margin: -35px 30px 0 0; line-height:30px;
    background: #2287D7;    text-align:center;  border: none;
    font-family: Arial, Verdana; font-size: 12px;   font-weight:bold;
    color: #fff;
    text-decoration:none;
}

#footer a.button:hover{ background: #1b76bd; }

/*Default*/
.block-left-d .img-principal {
    float:left;
    width:100%; height:150px;
    margin:0 0 15px 0;
	background: url(../img/principal.gif) no-repeat 0 0;
}

.block-left-d h4 {
    float:left;
    width:435px;
    font-family: Arial, Verdana; font-size: 24px;   font-weight:bold;
    color: #ef8900;
    margin:0 0 15px 30px;
}

.block-left-d p {
    float:left;
    width:435px;
    font-family: Arial, Verdana; font-size: 14px;
    color: #344257;
    margin:0 0 20px 30px;
}

.block-left-d a.ok{
    float:left;
    width: 100px;   height: 30px;
    margin: 0 0 0 30px; line-height:30px;
    background: #2287D7;    text-align:center;  border: none;
    font-family: Arial, Verdana; font-size: 12px;   font-weight:bold;
    color: #fff;
    text-decoration:none;
}

.block-left-d a.ok:hover{ background: #1b76bd; }

/*Termos de Uso*/
.termos h5 {
    float:left;
    width:100%;
    font-family: Tahoma, Arial, Verdana; font-size: 20px;
    color: #58595b;
    margin: 15px 0 18px 0;
}

.termos p {
    float:left;
    width:100%;
    font-family: Tahoma, Arial, Verdana; font-size: 12px;
    color: #58595b;
    margin: 0 0 15px 0;
}

.termos p.tab-text {
    float:left;
    width:100%;
    font-family: Tahoma, Arial, Verdana; font-size: 12px;
    color: #58595b;
    margin: 0 0 15px 30px;
}

/*Bloco Superior*/
.main-MP ul.agenda-tab {
    float:left;
    width:100%; height:100%;
    margin:0 0 0 0;
    text-align:center;
    list-style:none;
}

.main-MP ul.agenda-tab li.dia-tab {
    float:left;
    width:16%;    height:100%;
    margin:0 0.3% 0 0;
}

.main-MP ul.agenda-tab li.dia-tab h4 {
    float:left;
    width:99%;    height:30px;
    margin:0 0 0 0;
    border:solid 1px #BEC7D8;
    background: #2287D7;
    text-align:center; line-height:30px;
    font-family: Arial, Verdana; font-size: 12px;
    color: #fff;
}

.main-MP ul.agenda-tab li.dia-tab .horario {
    float:left;
    width:120px;    height:10%;
    margin:49px 0 0 -49px;
    border-bottom:solid 1px #BEC7D8;
    border-top:solid 1px #BEC7D8;
    border-left:solid 1px #BEC7D8;
    background: #EB9420;
    text-align:center; line-height:20px;
    font-family: Arial, Verdana; font-size: 10px;
    color: #fff;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
}

.main-MP ul.agenda-tab li.dia-tab .sala-tab {
    float:left;
    width:86.5%;    height:60px;
    margin:0 0 0 -50px;
    border-bottom:solid 1px #BEC7D8;
    border-right:solid 1px #BEC7D8;
    text-align:center;
}

.main-MP ul.agenda-tab li.dia-tab .sala-tab p {
    font-family: Arial, Verdana; font-size: 10px;
    color: #58595b;
    margin-top:15px;
}

.main-MP ul.agenda-tab li.dia-tab .sala-tab p strong {
    font-size: 14px;   font-weight:bold;
}

p.title-agenda {
    float:left;
    font-family: Arial, Verdana; font-size: 14px;   font-weight:bold;
    color: #344257;
    margin:0 0 20px 40px;
    width:100%;
}

.table-docente {
    float:left;
    width:93.6%;
    margin:30px 0 20px 40px;
}

p.title-componete {
    float:left;
    font-family: Arial, Verdana; font-size: 14px;   font-weight:bold;
    color: #344257;
    margin:0 0 20px 0;
    width:100%;
}

.tbl-componete {
    float:left;
    width:100%; height:100%;
    margin:0 0 20px 0;
    border-top: solid 1px #ccc;
}

.box-tb {
    float:left; height:30px;    line-height:30px;
    margin: 0 0 0 0;    padding: 0 0 0 1%;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

    .cod-tb { width: 8%;   border-left: solid 1px #BEC7D8; }

    .disc-tb { width: 45%; }

    .horas-tb { width: 5%; }

    .docent-tb { width: 42%; }